<script>
	var count = $("#padre input").size();
	
  var i = 0;
  function addUrl(){
	var countInput = $('input.new_textField').size();
	
    var input = $("<input>")//funcion UI de jQuery
    input.attr({
      type: "text",
      name: "post[urls_attributes]["+countInput+"][link]",
      id: "",
      value: "",
      class: "new_textField"
    })
    $("#padre").append(input)
  }

</script>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- linea para agregar un links q te cierra la session -->
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor" %>
  </div>
  <!-- 19-09-2011 -->
   <div id="padre">	
      <%= button_to_function "add Url", "addUrl()", :class => "" %>
  </div>


  
  <!-- 19-09-2011 -->
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
