<!-- estas lineas permiten ver y utilizar el 'tiny_mce' -->
<!-- <%= javascript_include_tiny_mce_if_used %> -->
<!--<%= tiny_mce if using_tiny_mce? %>-->

<script>
  var i = 0;
  

  function addUrl(){
    var input = $("<input>")//funcion UI de jQuery
    input.attr({
      type: "text",
      name: "post[urls_attributes][17][link]",
      id: "",
      value: "",
      //class: "new_post"
    })
    $("#padre").append(input)
  }

</script>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor" %>
  </div>
  <!-- 19-09-2011 -->
      
      <%= button_to_function "add Url", "addUrl()", :class => "" %>
  
  <%= f.fields_for :urls do |f2| %>
      <%= f2.text_field :link %>
  <% end %>
  <%= f.fields_for :urls do |f2| %>
      <%= f2.text_field :link %>
  <% end %>
  
  <div id="padre"></div>
  
  <!-- 19-09-2011 -->
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
