<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @posts.each do |post| %>
  <tr>
	<div class="post">
    <h2 class="title"><a href="#"><%= link_to post.title, post %></a></h2>
    <!--<td><%= h raw(post.content) %></td> -->
    <!-- <td><%= post.url %></td> -->
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	</div>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
