<p id="notice"><%= notice %></p>
<p>
	<div class="post">
		<h2 class="title"><a href="#"><%= @post.title %></a></h2>	
	</div>
</p>

<p>
	<div class="entry">
		<p>
	  		<b><%=h raw(@post.content) %></b>
		</p>
	</div>
</p>

  <b>related links</b>
  <ul>
  <%- @post.urls.each do |url|  %>
  <%- if url.link.index("http://0.0.0.0:3000/").nil?  %>
  	<li>
		<%= link_to(url.link, url.link, html_options = {'target' => "_blank"}) %>
	</li>
    <%-elsif %>
    <li>
		<%= link_to url.link, url.link %>
	</li>
    <%- end%>
  <%- end %>
  </ul>

<%= form_for([@post, @post.urls.build]) do |f| %>

<%- end -%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
